<table class='user' *ngIf="user$|async as user">
    <td class='user-id'>{{user.id}}</td>
    <td class='user-first-name'>{{user.firstName}}</td>
    <td class='user-last-name'>{{user.lastName}}</td>
    <td class='user-gender'>{{user.gender | gender}}</td>
</table>